<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.DaeguHotelMapper">
    <insert id="insertDaeguHotel">
        INSERT INTO daegu_hotel_info
            (h_shop, h_tel, h_address, h_offer, h_facilities, h_tag)
        VALUES  
            (#{h_shop}, #{h_tel}, #{h_address}, #{h_offer}, #{h_facilities}, #{h_tag});
    </insert>
    <select id="selectHotel" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info;
    </select>
    <select id="selectHotelNameBySeq" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info where h_seq = #{h_seq};
    </select>

    <insert id="insertHotelImage">
        insert into hotel_image
            (himg_file_name, himg_uri, himg_size)
        values
            (#{himg_file_name}, #{himg_uri}, #{himg_size});
    </insert>
    <select id="selectHotelImagePath" resultType="java.lang.String">
        select himg_file_name from hotel_image where himg_uri=#{uri} order by himg_seq desc limit 1
    </select>
    <update id="updateProduct">
        update daegu_hotel_info set
            h_img_uri = #{h_img_uri}
        where h_seq = #{h_seq}
    </update>

</mapper>
