<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.HotelCartMapper">
    <insert id="insertCartHotel">
        INSERT INTO hotel_cart
            (hc_mi_seq, hc_h_seq)
        VALUES
            (#{hc_mi_seq}, #{hc_h_seq});
    </insert>
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from hotel_cart where hc_mi_seq = #{mi_seq}
    </select>
    <select id="selectCartHotels" resultType="com.greenart.vo.DaeguHotelVO">
        select * from
        (
	        select * from hotel_cart where hc_mi_seq = #{mi_seq}
        ) a inner join daegu_hotel_info b on a.hc_h_seq = b.h_seq
    </select>

    <delete id="deleteCartHotel">
        delete from hotel_cart
        where hc_mi_seq = #{mi_seq} and hc_h_seq = #{h_seq}
    </delete>

    <select id="selectCartBySeq" resultType="java.lang.Integer">
        select count(*) from hotel_cart where hc_h_seq=#{seq}
    </select>

    <insert id="insertHotelImage">
        insert into hotel_image
            (himg_file_name, himg_uri, himg_size)
        values
            (#{himg_file_name}, #{himg_uri}, #{himg_size});
    </insert>
    <select id="selectHotelImagePath" resultType="java.lang.String">
        select himg_file_name from hotel_image where himg_uri=#{uri} order by himg_seq desc limit 1
    </select>
    <update id="updateHotelImage">
        update daegu_hotel_info set
            h_seq = #{h_seq},
            h_shop = #{h_shop},
            h_tel = #{h_tel},
            h_address = #{h_address},
            h_offer = #{h_offer},
            h_facilities = #{h_facilities},
            h_tag = #{h_tag},
            h_img_uri = #{h_img_uri}
        where h_seq = #{h_seq}
    </update>
</mapper>