<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.MemberMapper">
    <insert id="insertMember">
        insert into member_info(
            mi_id, mi_name, mi_email, mi_address, 
            mi_pwd, mi_phone
        )
        values(
            #{mi_id} ,#{mi_name}, #{mi_email}, #{mi_address},
            #{mi_pwd}, #{mi_phone}
        )
    </insert>
    <select id="selectMemberById" resultType="java.lang.Integer">
        select count(*) from member_info where mi_id=#{id}
    </select>
    <select id="selectMemberByEmail" resultType="java.lang.Integer">
        select count(*) from member_info where mi_email=#{email}
    </select>
    <select id="selectMemberAll" resultType="com.greenart.vo.MemberInfoVO">
        select * from member_info
    </select>
    <select id="loginMember" resultType="java.lang.Integer">
        select count(*) from member_info where mi_id=#{id} and mi_pwd=#{pwd}
    </select>
    <select id="selectMemberInfo" resultType="com.greenart.vo.MemberInfoVO">
        select 
            mi_seq, mi_id, mi_name, mi_email,
            mi_address, mi_phone
        from member_info where mi_id=#{id}
    </select>


</mapper>