<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.SearchHotelMapper">
    <select id="selectSearchNam" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info
        where h_shop LIKE #{keyword}
    </select>
    <select id="selectSearchAdr" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info
        where h_address LIKE #{keyword}
    </select>
    <select id="selectSearchOfr" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info
        where h_offer LIKE #{keyword}
    </select>
    <select id="selectSearchFac" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info
        where h_facilities LIKE #{keyword}
    </select>
    <select id="selectSearchTag" resultType="com.greenart.vo.DaeguHotelVO">
        select * from daegu_hotel_info
        where h_tag LIKE #{keyword}
    </select>
</mapper>