.detail_container {
    width: 1080px;
    height: 600px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500px;
    font-size: 18px;
    margin-top: 50px;
}
.product_list{
    float: right;
    width: 400px;
    text-align: center;
    margin-right: 130px;
    margin-top: 100px;
}
.product_list td{
    padding: 10px;
}
.img_area {
    float: left;
}
.img_area img {
    margin-left: 100px;
    width: 400px;
}
.img_form_div{
    margin-top: 50px;
}

.tour_info {
    margin-top: 50px;
    margin-bottom: 50px;
}
.tour_head {background-color: #333; color: #fff;}
.tour_tbody {background-color: #fff;}
#cart_bag{
    margin-top: 30px;
    border: 2px solid #fab;
    border-radius: 5px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    width: 300px;
    height: 40px;
    cursor:pointer;
}


.tour_info p{
    margin-left: 450px;
    padding: 30px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.tour_info button{
    margin-left: 400px;
    border: 2px solid #fab;
    border-radius: 5px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    width: 300px;
    height: 40px;
    cursor:pointer;
}
.tour_head{
    background-color: #333; color: #fff;
}
#tu_name, #tu_tel{
    padding: 10px;
    width: 150px;
}
#tu_adr {
    width: 200px;
} 
