
.pager_area {font-size: 14px; text-align: center; margin-top: 10px; height: 50px;}
.pager_area .current {font-weight: 700;}
.dashboard_content:first-child {padding-top: 0;}
.hotel-tbody {display: none;}
.hotel-tbody.active {display: table-row-group;}

.img_area img{
    width: 300px;
}
.hotel-tbody img{
    width: 300px;
}